/licence_head.txt
/MANIFEST
/MYMETA.json
/MYMETA.yml
/perl/docs/
/perl/blib/
/perltidy.LOG
/perl/reports
/perl/pm_to_blib
/perl/Makefile
/perl/perltidy.LOG
/perl/MYMETA.json
/perl/MYMETA.yml
/setup.log
/c/bin/*
c/src/*.o
c/tests/*_tests
c/tests/*_tests.dSYM
c/tests/tests_log
install_tmp
install
test.old
test.new
/nf_allelecount/test
.nextflow*
/nf_allelecount/work
*.img
