notifications:
  slack: wtsi-cgpit:ptUMR1tkNyZJYd9TpGoss8WR
  email: false

env:
 - CC=gcc

addons:
 apt:
  packages:
   - build-essential
   - autoconf
   - curl
   - zlib1g-dev
   - libncurses5-dev
   - libpstreams-dev
   - libcurl4-openssl-dev

install: true

language: perl

perl:
 - "5.22"
# - "5.16"

script:
 - ./setup.sh $HOME/wtsi-opt
 - ls -l $HOME/wtsi-opt/bin/alleleCounter
 - ls -l $HOME/wtsi-opt/bin/alleleCounter.pl
 - echo 'Build and check docker image'
 - docker build -t allelec .
 - docker images | grep -c allelec
