singularity.runOptions='--cleanenv --bind /lustre:/lustre'
// passed to allelecounter
params.opts=""
params.loci="/nfs/users/nfs_a/ab63/dev/alleleCount/nf_allelecount/test/testloci.txt"
params.hts="/lustre/scratch119/realdata/mdt1/team78/ab63/testbam/PD50767a_lo0035.sample.dupmarked.bam"
params.out="/nfs/users/nfs_a/ab63/dev/alleleCount/nf_allelecount/test/counts.txt"