//setup
docker.enabled = false
singularity {
  enabled = true
  cacheDir = "$PWD"
  runOptions='--cleanenv'
}
// runtime options for singularity image. 
// You may need to --bind in runOptions for allelecounter to be able to access inputs
// e.g. --bind /lustre:/lustre
// n.b. if using symlinks, make sure either the file being linked to resides within the bound location
// or --bind the bound location also

// passed to allelecounter
// override at runtime: `nextflow run allelecount.nf --locipath path/to/file`
params {
  opts="" // can be empty, optional arguments to be passed to allelecounter ("--help" for allelecounter usage). Cannot be (successfully) overriden at runtime.
  locipath="" // absolute path to loci file
  htspath="" // absolute path to hts file
  outpath="" // absolute path to output txt file
}
