// runtime options for singularity image. 
// You may need to --bind for allelecounter to be able to access inputs
// e.g. --bind /lustre:/lustre
singularity.runOptions='--cleanenv'
 
// passed to allelecounter
params.opts="" // can be empty, optional arguments to be passed to allelecounter ("--help" for allelecounter usage)
params.locipath="" // absolute path to loci file
params.htspath="" // absolute path to hts file
params.outpath="" // absolute path to output txt file